<main>
    <div class="mainLogin">
        <div class="modalLogin">
            <div class="Content">

                <div class="logo">
                    <p class="cubo"></p>
                    <p class="logo-title">Login</p>
                </div>
 

 
                <div class="Inputs">
                    <div>
                        <label>Usuário</label>
                        <input id="email">
                    </div>


                    <div>
                        <label>Senha</label>
                        <input id="senha">
                    </div>


                    <Div class="boxbtn">
                        <button class="btn  btn-danger">
                            Entrar
                        </button>
                    </Div>

                    <div class="box-cadastre">
                        <article >
                            <h1 class="opcad">Cadastre-se</>
                            <p>Ainda não possui conta? cadastre-se no site</p>
                         <Div class="boxbtn">
                        <button class="btn  btn-danger">
                            Cadastro
                        </button>
                    </Div>
                        </article>

                </div>


                </div>

            </div>
        </div>

    </div>

<section>
    <div class="box01">
        <img class="img1" src="/assets/img/cat01.jpg" width="400" height="640">

        <img class="img1" src="/assets/img/cat02.jpg" width="400" height="640">

        <img class="img1" src="/assets/img/cat05.jpg" width="400" height="640">
    </div>

    <div class="box02">
        <img class="img1" src="/assets/img/cat11.jpg" width="601" height="640">

        <img class="img1" src="/assets/img/cat08.jpg" width="601" height="640">

    </div>


    <div class="box03">
        <img class="img1" src="/assets/img/cat04.jpg" width="1205" height="640">
    </div>


    <div class="box04">
        <img class="img1" src="/assets/img/cat12.jpg" width="400" height="640">

        <img class="img1" src="/assets/img/cat09.jpg" width="400" height="640">

        <img class="img1" src="/assets/img/cat06.jpg" width="400" height="640">
    </div>


    <div class="box05">
        <img class="img1" src="/assets/img/cat03.jpg" width="601" height="640">

        <img class="img1" src="/assets/img/cat13.jpg" width="601" height="640">

    </div>

    <div class="box06">
        <img class="img1" src="/assets/img/cat07.jpg" width="1205" height="640">
    </div>
    </section>
</main>